@font-face {
  font-family: Lemon;
  src: url(../font/Lemon-Yellow-Sun.otf);
}
@font-face {
  font-family: Nexa;
  src: url(../font/Nexa-Bold.otf);
}
@font-face {
  font-family: Bebas;
  src: url(../font/BebasNeue-Regular.otf);
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  margin-top: 15%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 12px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.img-responsive-bg{
  width: auto;
}
.img-responsive{
  width: 100%;
}

.logo{
  position: absolute;
  right: 0;
  top: 100px;
  width: 40%;
  z-index: 1000;
  text-align: right;
}


* {box-sizing:border-box}

body{

  background-color: #28262b;
  width: 100%;
  margin: 0;
  position: relative;
}

#block-system-main{
  height: 90%;
}

.hide-mobile{
  display: none;
}

.container{
    position: absolute;
    width: 100%;
    margin: auto;
    top: 0;
    left: 0;
}

.title-grl{
  width: 100%;
  margin: 0 ;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-family: 'Bebas';
  font-size: 0.7em;
  text-shadow: 6px 8px 12px #1b1b1b;
}

.slider{
  margin: auto;
  max-width: 98%;
  position: relative;
}

.frame{
  position: absolute;
  top: 0;
  width: 100%;
}

.bottom-cel{
max-width: 98%;
margin: auto;
}

.bottom-cel img{
  width: 100%;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
  overflow: hidden;
  text-align: center;
  width: 95%;
  background-color: #2d2d2d;
}
.mySlides {
    display: none;
    overflow: hidden;
    border-radius: 40px 40px 0 0;

}

.mySlides img {
  height: 85%;
  width: auto;
  margin-top: 25px;
}

.text-slider{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    font-family: 'Bebas';
    background-color: rgba(0,0,0,0.4);
    color: #fff;
    border-radius: 30px 30px 0 0;
    padding-top: 5em;
    margin-top: 25px;
    z-index: 100;
}
.text-slider h4{
  font-size: 1.8em;
  margin: 0.5em;
}

.text-slider h2{
  font-size: 2.5em;
  margin: 0.3em;
}

.text-slider a{
  text-decoration: none;
  display: inline-block;
  width: 80%;
  margin: 3% 10%;
  z-index: 10;
}
.btn-slide{
  padding: 5px 10px;
  font-family: 'Bebas';
  text-transform: uppercase;
  background: #fff;
  color: #444 !important;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.4);
  border-radius: 8px;
}

.btn-slide:hover, .btn-slide:focus{
  outline: none;
  background: lightgray;
  box-shadow: none;
}

.btn-slide p {
  margin: 0.2em;
}
.btn-slide p span{
  font-size: 1.2em;
}

.post-it{
font-family: 'Lemon';
position: relative;
width: 95%;
margin: -15% 2.5% 0 2.5%;
z-index: 100;
}
.dot {
cursor: pointer;
height: 120px;
width: 120px;
margin: 0 20px;
display: inline-block;
transition: 0.6s ease;
box-sizing: border-box;
padding-top: 30px;
font-size: 1.5em;
color: #525252;
position: absolute;
text-align: center;
}


.dot1{
/*background-color: red;*/
transform: rotate(7deg);
-webkit-transform: rotate(7deg);
-ms-transform: rotate(7deg);
background: url(../img/post-it1.png);
background-size: cover;
left:25%;

}
.dot2{
/*background-color: blue;*/
transform: rotate(-4deg);
-webkit-transform: rotate(-4deg);
-ms-transform: rotate(-4deg);
background: url(../img/post-it2.png);
background-size: cover;
left:25%;

}
.dot3{
/*background-color: yellow;*/
transform: rotate(12deg);
-webkit-transform: rotate(12deg);
-ms-transform: rotate(12deg);
background: url(../img/post-it3.png);
background-size: cover;
left:25%;

}
.dot4{
/*background-color: cyan;*/
transform: rotate(3deg);
-webkit-transform: rotate(3deg);
-ms-transform: rotate(3deg);
background: url(../img/post-it4.png);
background-size: cover;
left:25%;

}


/* Fading animation */
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}

@-webkit-keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

footer{

  margin-top: 0;
  padding: 15px 15%;
  font-size: 0.8em;

position: absolute;
bottom: -60px;
background-color: rgba(0,0,0,0.4);
color: #fff;
width: 100%;
padding: 15px 5%;
text-align: center;
font-family: 'Nexa';
font-size: 0.5em;

}


@media only screen and (min-width: 700px){


.prev, .next{
  display: none;
}

.title-grl {
    font-size: 1.5em;
    margin-bottom: 2em;
}
.logo{
  top: 170px;
}

.bottom-cel{
max-width: 98%;
}

.text-slider 
{
  padding-top: 11em;
}
.text-slider h4{
  font-size: 3em;
}
.text-slider h2{
  font-size: 4em;
}

.btn-slide {
  font-size: 1.8em;
  }

.post-it{
  width: 80%;
  margin: -10% 10% 0 10%;
}

.dot{
  left: 0;
  width: 120px;
  height: 120px;
  font-size: 1.5em;
  padding: 35px 10px 10px;
  margin: 0;
}

.dot1{

left: 0;
}
.dot2{

left: 160px;
}
.dot3{

left: 320px;
}
.dot4{

left: 480px;
}

footer{
  font-size: 1em;
  bottom: 0;
}

}




@media only screen and (min-width: 1024px) {

.hide-pc{
  display: none;
}
.hide-mobile{
  display: block;
}

.logo{
  top: 80px;
  width: 13%;
}

.container{
  text-align: center;
  position: absolute;
  width: 100%;
  margin: auto;
  background-image: none;
  position: absolute;
  top: 0;
  left: 0;
}

.title-grl{
  width: 80%;
  margin: 0 10% 0 10%;
  padding-top: 4%;
  font-size: 2em;
}

.slider{
  margin: 0 15% 0 15%;
  overflow: hidden;
  
}

/* Slideshow container */
.slideshow-container {
position: relative;
margin: 0 2.5%;
background-color:#000;
width: 95%;
}

/* Hide the images by default */
.mySlides {
  display: none;
  overflow: hidden;
}

.mySlides img{
  width: 100%;
}
.text-slider{
  padding-top: 5em;
  margin-top: 0px;
}
.text-slider h4{
  font-size: 2em;
}

.text-slider h2{
  font-size: 3em;
  margin-bottom: 2em;
}

.text-slider a{
  width: 25%;
  margin: 0 3%;
}
.btn-slide{

  padding: 3px 10px;
  font-family: 'Bebas';
  text-transform: uppercase;
  border-radius: 5px;
}

.btn-slide p{
  font-size: 1em;
}

.btn-slide p span{
  font-size: 1.1em;
}

.mySlides img {

}

/* Number text (1/3 etc) */
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

.post-it{

  width: 40%;
  margin: -4% 30% 3% 30%;
}

  
}

@media only screen and (min-width: 1200px) {
  .container{
  text-align: center;
  position: absolute;
  width: 100%;
  margin: auto;
  background-image: none;
  margin
}

.title-grl{
  width: 80%;
  margin: 0 10% 0 10%;
  padding-top: 4%;

}

.slider{

  width: 60%;
  margin: 0 20%;
}

  
}
@media only screen and (min-width: 1300px){



.title-grl{
      font-size: 1.8em;
}
.slideshow-container{
  margin: 1em 1em 2em;
}
.slider{

  width: 50%;
  margin: 0 25%;
}

.myslides img{
  height: 35%;
  margin-top: 0;
}

.text-slider{
  padding-top: 4em;
}

.text-slider h2 {
    margin-bottom: 1em;
    }

.post-it{

  width: 50%;
  margin: -4% 30% 3% 30%;
}

.dot{
  font-size: 1.1em;
  width: 100px;
  height: 100px;
} 

.btn-slide{
  font-size: 0.8em;
}

}
@media only screen and (min-width: 1600px){


  .slider{
    width: 50%;
    margin: 0 25%;
    height: 580px;
  }

.myslides img{
  height: 88%;
}
.text-slider{
  padding-top: 5em;
}
.text-slider h4{
  font-size: 3em;
}
.text-slider h2 {
    margin-bottom: 1em;
    font-size: 4em;
}
.btn-slide{
  font-size: 1.3em;
}
.dot{
  font-size: 1.5em;
  width: 150px;
  height: 150px;
}
.dot1{

left: 40;
}
.dot2{

left: 230px;
}
.dot3{

left: 420px;
}
.dot4{

left: 610px;
}

}
@media only screen and (max-width: 850px) and (orientation: landscape){

.bottom-cel, .prev, .next{
  display: none;
}

.title-grl{
  width: 70%;
  margin: 0 15% 0 15%;
  padding-top: 1%;

}
.slider{

  width: 70%;
  margin: 0 15% 0 15%;
}

.slideshow-container {

    }

.text-slider{
}
.text-slider h4{
  font-size: 1.5em;
}
.text-slider h2{
  font-size: 1.8em;
}

.text-slider a {
    display: inline-block;
    width: 28%;
    margin: auto 1%;
  }

.btn-slide p {
  margin: 0.2em;
  font-size: 0.4em;
}
.btn-slide p span{
  font-size: 1.2em;
}

.post-it{
  width: 60%;
  margin: -5% 20% 0 20%;
}

.dot{
  left: 0;
  width: 70px;
  height: 70px;
  font-size: 0.9em;
  padding-top: 15px;
  margin: 0;
}

.dot1{

left: 0;
}
.dot2{

left: 100px;
}
.dot3{

left: 190px;
}
.dot4{

left: 280px;
}

.footer{
  font-size: 0.6em;
}
}
@media only screen and (min-width: 800px) and (orientation:portrait){

  .hide-mobile {
    display: none;
}
.hide-pc{
  display: block;
}

body img#background{
  height: 130%;
}
 
 .title-grl {
    font-size: 1.5em;
    margin-bottom: 2em;
}
.logo{
  top: 250px;
    right: 180px;
    width: 22%;
}

.slideshow-container{
  margin-top: 30px;
    border-radius: 30px 30px 0;
}

.bottom-cel{
max-width: 70%;
}

.text-slider 
{
  padding-top: 11em;
}

.text-slider a{
  width: 90%;
  margin: 5%;
}
.text-slider h4{
  font-size: 3em;
}
.text-slider h2{
  font-size: 4em;
}

.btn-slide {
  font-size: 3em;
  }

.post-it{
  width: 70%;
  margin: -10% 10% 0 20%;
}

.dot{
  left: 0;
  width: 120px;
  height: 120px;
  font-size: 1.5em;
  padding: 35px 10px 10px;
  margin: 0;
}

.dot1{

left: 0;
}
.dot2{

left: 160px;
}
.dot3{

left: 320px;
}
.dot4{

left: 480px;
}

footer{
  font-size: 1em;
  bottom: 0;
}

}