@font-face {
  font-family: Lemon;
  src: url(../font/Lemon-Yellow-Sun.otf);
}
@font-face {
  font-family: Nexa;
  src: url(../font/Nexa-Bold.otf);
}
@font-face {
  font-family: Bebas;
  src: url(../font/BebasNeue-Regular.otf);
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  margin-top: 15%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 12px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


* {box-sizing:border-box}

body{
background-image: url(../img/Fondo-escritorio.png);
background-size: cover;
  background-repeat: no-repeat;
  background-color: #28262b;
  width: 100%;
  height: 120vh;
  margin: 0;
  position: relative;
}

#block-system-main{
  height: 90%;
}

.hide-mobile{
  display: none;
}

.container{
    position: relative;
    width: 98%;
    height: 100%;
    margin: auto;
}

.title-grl{
  width: 100%;
  margin: 0 ;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-family: 'Bebas';
  font-size: 0.7em;
  text-shadow: 6px 8px 12px #1b1b1b;
}

.slider{
  margin: auto;
  background-image: url(../img/mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 98%;
  height: 68%;
}

.bottom-cel{
max-width: 98%;
margin: auto;
}

.bottom-cel img{
  width: 100%;
}

/* Slideshow container */
.slideshow-container {
  max-width: 90%;
  height: 100%;
  position: relative;
  margin: auto;
  overflow: hidden;
  text-align: center;
}
.mySlides {
    display: none;
    height: 100%;
    overflow: hidden;
    padding-top: 20px;
}

.mySlides img {
  width: 100%;
  height: 100%;
  border-radius: 30px 30px 10px 10px;
}

.text-slider{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    font-family: 'Bebas';
    padding-top: 0;
    background-color: rgba(0,0,0,0.4);
    color: #fff;
    margin-top: 6%;
    border-radius: 30px 30px 10px 10px;
}
.text-slider h4{
  font-size: 1.8em;
  margin: 0.5em;
}

.text-slider h2{
  font-size: 2.5em;
  margin: 0.3em;
}

.text-slider a{
  text-decoration: none;
  display: inline-block;
  width: 80%;
  margin: 3% 10%;
  font-size: x-large;
}
.btn-slide{
  padding: 5px 10px;
  font-family: 'Bebas';
  text-transform: uppercase;
  background: #fff;
  color: #444 !important;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.4);
  border-radius: 8px;
}

.btn-slide:hover, .btn-slide:focus{
  outline: none;
  background: lightgray;
  box-shadow: none;
}

.btn-slide p {
  margin: 0.2em;
}
.btn-slide p span{
  font-size: 1.2em;
}

.post-it{
font-family: 'Lemon';
position: relative;
width: 95%;
margin: -15% 2.5% 0 2.5%;
}
.dot {
cursor: pointer;
height: 120px;
width: 120px;
margin: 0 20px;
display: inline-block;
transition: 0.6s ease;
box-sizing: border-box;
padding-top: 30px;
font-size: 1.5em;
color: #525252;
position: absolute;
text-align: center;
}


.dot1{
/*background-color: red;*/
transform: rotate(7deg);
-webkit-transform: rotate(7deg);
-ms-transform: rotate(7deg);
background: url(../img/post-it1.png);
background-size: cover;
left:25%;

}
.dot2{
/*background-color: blue;*/
transform: rotate(-4deg);
-webkit-transform: rotate(-4deg);
-ms-transform: rotate(-4deg);
background: url(../img/post-it2.png);
background-size: cover;
left:25%;

}
.dot3{
/*background-color: yellow;*/
transform: rotate(12deg);
-webkit-transform: rotate(12deg);
-ms-transform: rotate(12deg);
background: url(../img/post-it3.png);
background-size: cover;
left:25%;

}
.dot4{
/*background-color: cyan;*/
transform: rotate(3deg);
-webkit-transform: rotate(3deg);
-ms-transform: rotate(3deg);
background: url(../img/post-it4.png);
background-size: cover;
left:25%;

}


/* Fading animation */
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}

@-webkit-keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

footer{

  margin-top: 0;
  padding: 15px 15%;
  font-size: 0.8em;

position: absolute;
bottom: -80px;
background-color: rgba(0,0,0,0.4);
color: #fff;
width: 100%;
padding: 15px 5%;
text-align: center;
font-family: 'Nexa';
font-size: 0.5em;

}


@media only screen and (min-width: 700px){

.prev, .next{
  display: none;
}

.title-grl{
  font-size: 1.2em;
}

.slider{
  max-width: 90%;
  height: 75%;
}
.bottom-cel{
max-width: 90%;
}

.mySlides{
  padding-top: 30px;
}

.mySlides img{

  border-radius: 60px 60px 10px 10px;
}
.text-slider{
  padding-top: 30%;
}

.text-slider h4{
  font-size: 3em;
}
.text-slider h2{
  font-size: 4em;
}

.text-slider a {
    font-size: xx-large;
  }

.post-it{
  width: 80%;
  margin: -18% 10% 0 10%;
}

.dot{
  left: 0;
  width: 120px;
  height: 120px;
  font-size: 1.5em;
  padding-top: 35px;
  margin: 0;
}

.dot1{

left: 0;
}
.dot2{

left: 160px;
}
.dot3{

left: 320px;
}
.dot4{

left: 480px;
}

footer{
  font-size: 1em;
  bottom: -180px;
}

}




@media only screen and (min-width: 1024px) {

.hide-pc{
  display: none;
}
.hide-mobile{
  display: block;
}

body{
  background-position: center;
}

.container{
  text-align: center;
  position: relative;
  width: 100%;
  margin: auto;
  background-image: none;
  margin
}

.title-grl{
  width: 80%;
  margin: 0 10% 0 10%;
  padding-top: 4%;
  font-size: 1.5em;
}

.slider{

  width: 70%;
  height: 450px;
  margin: 0 15% 0 15%;
  max-height: 50%;
  border: solid 25px #000;
  border-radius: 10px;
  background-color: #000;
  background-image: none;
  overflow: hidden;
}

/* Slideshow container */
.slideshow-container {
max-width: 100%;
height: 97%;
position: relative;
margin: auto;


}

/* Hide the images by default */
.mySlides {
  display: none;
  max-height: 100%;
  overflow: hidden;
  padding-top: 0;
}
.text-slider{

    padding-top: 10%;
}
.text-slider h4{
  font-size: 2em;
}

.text-slider h2{
  font-size: 3em;
  margin-bottom: 2em;
}

.text-slider a{
  font-size: larger;
  width: 30%;
  margin: 0 1%;
}
.btn-slide{

  padding: 8px 10px;
  font-family: 'Bebas';
  text-transform: uppercase;
  border-radius: 5px;
}

.btn-slide p{
  font-size: 0.8em;
}

.btn-slide p span{
  font-size: 1.1em;
}

.mySlides img {
  width: 100%;
  height: 100%;
  border-radius: 0;
}

/* Number text (1/3 etc) */
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

.post-it{

  width: 60%;
  margin: -1% 20% 3% 20%;
}
.dot{
  font-size: 1.5em;
}
.dot1{

left: 0;
}
.dot2{

left: 170px;
}
.dot3{

left: 340px;
}
.dot4{

left: 520px;
}
  
}

@media only screen and (min-width: 1200px) {
  .container{
  text-align: center;
  position: relative;
  width: 100%;
  margin: auto;
  background-image: none;
  margin
}

.title-grl{
  width: 80%;
  margin: 0 10% 0 10%;
  padding-top: 4%;
  font-size: 1.5em;
}

.slider{

  width: 60%;
  height: 400px;
  margin: 0 20%;
  max-height: 50%;
  border: solid 20px #000;
  border-radius: 10px;
  background-color: #000;
  background-image: none;
}
.post-it{

  width: 50%;
  margin: -2% 25% 3% 25%;
}
  
}
@media only screen and (min-width: 1300px){
body{
  height: 120vh;
}
.text-slider h2 {
    margin-bottom: 1em;
    }
footer{
  bottom: -100px;
}
}
@media only screen and (min-width: 1600px){

body{
  height: 120vh;
}
  .title-grl{
    padding-top: 2 %;
  }

  .slider{
    width: 50%;
  height: 480px;
  margin: 0 25%;
  }
  .btn-slide p {
    font-size: 1.2em;
}
.text-slider h2 {
    margin-bottom: 1.7em;
}

  .post-it{

  width: 40%;
  margin: -2% 30% 3% 30%;
}

}
@media only screen and (max-width: 850px) and (orientation: landscape){

.bottom-cel, .prev, .next{
  display: none;
}

.title-grl{
  width: 70%;
  margin: 0 15% 0 15%;
  padding-top: 1%;

}
.slider{

  width: 70%;
  margin: 0 15% 0 15%;
  max-height: 50%;
  border: none;
  border-radius: 10px;
  background-color: #000;
  background-image: none;
}

.slideshow-container {
    max-width: 95%;
    }

    
.mySlides {
  padding-top: 10px;
  height: 95%;
}

.mySlides img {
  border-radius: 2px;
}

.text-slider{
  padding-top: 8%;
}
.text-slider h4{
  font-size: 1.5em;
}
.text-slider h2{
  font-size: 1.8em;
}

.text-slider a {
    display: inline-block;
    width: 28%;
    margin: auto 1%;
  }

.btn-slide p {
  margin: 0.2em;
  font-size: 0.4em;
}
.btn-slide p span{
  font-size: 1.2em;
}

.post-it{
  width: 60%;
  margin: -5% 20% 0 20%;
}

.dot{
  left: 0;
  width: 70px;
  height: 70px;
  font-size: 0.9em;
  padding-top: 15px;
  margin: 0;
}

.dot1{

left: 0;
}
.dot2{

left: 100px;
}
.dot3{

left: 190px;
}
.dot4{

left: 280px;
}

.footer{
  bottom: -180px;
  font-size: 0.6em;
}
}
@media only screen and (min-width: 800px) and (orientation:portrait){
  .title-grl{
    padding-top: 15%;
    font-size: 2em;
  }
  .slider {
    width: 80%;
    height: 550px;
    margin: 0 10% 0 10%;
  }
  .text-slider {
    padding-top: 18%;
}
  .text-slider a {
    width: 28%;
    margin: 1% 1%;
  }
}